

<h1>Enter Stats</h1>

<h2>Enter Jake's Stats</h2>
<form action="/Jake/Index" method="post">


    <p>Damage: <input type="number" name="Damage" value="@Model.Damage" /></p>
    <p>Kills: <input type="number" name="Kills" value="@Model.Kills" /></p>
    <p>Revives: <input type="number" name="Revives" value="@Model.Revives" /></p>
    <p>Full Team Respawms: <input type="number" name="Respawns" value="@Model.Respawns" /></p>
    <p>Revived: <input type="number" name="Revived" value="@Model.Revived" /></p>
    <p>Game Score: <input type="number" name="GameScore" value="@Model.GameScore" /></p>

    <button type="submit" class="bttn" id="calc" value="calc" name="calculate">Calculate</button>
    <button type="submit" class="bttn" id="save" value="save" name="save"></button>

</form>


<style>
    .bttn {
        border: 2px solid #c0700e;
        padding: 20px 4px;
        color: #c0700e;
        transition: 0.6s ease;
        font-size: 1.5rem;
        font-weight: bold;
        display: flow-root;
    }

        .bttn:hover {
            background-color: white;
            color: #000;
        }

    input[type=number] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>